@use "./variables.scss";

.form {
  background: variables.$color-bg;
  padding: 20px 24px;
  border-radius: variables.$radius;
  box-shadow: variables.$light-shadow;
  width: 100%;
  max-width: 480px;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  &--width-form {
    margin-bottom: 2rem;
    background: variables.$color-bg;
    padding: 20px 24px !important;
    border-radius: variables.$radius;
    box-shadow: variables.$light-shadow;
    width: 480px;
    animation: fadeIn 0.4s ease;
  }
}

.form__legend {
  font-size: 2rem;
  font-weight: 600;
  color: variables.$color-text;
  margin-bottom: 1rem;
  text-align: center;
}

.form-row {
  margin-bottom: 2rem;
  position: relative;
  display: grid;
  align-self: center;
  column-gap: 1rem;

  &__span-right {
    display: flex;
    justify-content: right;
    margin-top: -1.5rem;
  }
}

.form-row__label {
  font-weight: 500;
  color: variables.$color-text;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  align-self: center;
  text-align: end;
  gap: 4px;
  grid-area: label;
  justify-self: end;
}

.form-row__input,
.form-row__select,
.form-row__textarea {
  padding: 8px 10px;
  border: 1.6px solid variables.$color-border;
  border-radius: 6px;
  background-color: variables.$color-bg-alt;
  font-size: 0.9rem;
  transition: variables.$transition;
  width: 100%;
  grid-area: input;
}

.form-row__input:focus,
.form-row__select:focus,
.form-row__textarea:focus {
  border-color: variables.$color-primary;
  background-color: variables.$color-bg;
  outline: none;
  box-shadow: variables.$light-shadow;
}

.form-row__input:hover,
.form-row__select:hover,
.form-row__textarea:hover {
  border-color: variables.$color-border-alt;
}

.form-row__input-error {
  border-color: variables.$color-error !important;
  box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.1);
}

.form-row__span-error {
  color: variables.$color-error;
  font-size: 0.78rem;
  margin-top: 3px;
  min-height: 0.8em;
  position: absolute;
  bottom: -1.1rem;
  grid-area: error;
}

.form-row__multiple {
  display: flex;
  gap: 10px;
  input[name="phonePrefix"] {
    width: 60px;
  }
  input[name="postalCode"] {
    width: 80px;
  }
}

// Desktop
@media (min-width: 700px) {
  .form-row {
    grid-template-columns: 70px auto;
    grid-template-areas:
      "label input"
      " . error";
    &--width {
      grid-template-columns: 120px auto;
    }
  }
}

//  Mobile
@media (max-width: 699px) {
  .form {
    padding: 18px;
  }

  .form-row__label {
    justify-self: start;
    margin-bottom: 4px;
  }

  .form-row {
    grid-template-columns: 100%;
    grid-template-areas:
      "label"
      "input"
      "error";
  }
}
