@use "../../global_styles/variables.scss";

.layout {
  background-color: variables.$color-bg-alt;
  color: variables.$color-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
}

.content > div {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
