@use "../../global_styles/variables.scss";

.navbar {
  width: 100%;
  height: 60px;
  background-color: variables.$color-primary;
  color: variables.$color-text-alt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: variables.$standard-shadow;
  z-index: 1;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.menu {
  display: flex;
  gap: 1rem;

  &__link {
    position: relative;
    color: variables.$color-border;
    text-decoration: none;
    font-weight: 500;
    padding: 0.25rem 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: variables.$color-border;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: variables.$transition;
    }

    &:hover::after {
      transform: scaleY(1);
    }

    &--active::after {
      transform: scaleY(1);
    }

    &--active {
      color: variables.$color-border;
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;

  &__line {
    background: variables.$color-border;
    height: 3px;
    width: 100%;
    margin: 3px 0;
    border-radius: 2px;
    transition: variables.$transition;
  }
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: variables.$color-primary;
    flex-direction: column;
    width: 180px;
    padding: 1rem;
    display: none;
    box-shadow: variables.$standard-shadow;
    border-radius: 0 0 6px 6px;

    &__link {
      padding: 0.5rem 0;
    }
  }

  .hamburger {
    display: flex;
  }

  .navbar--active .menu {
    display: flex;
  }

  .navbar--active .hamburger__line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    margin-left: 9px;
  }
  .navbar--active .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  .navbar--active .hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
    margin-left: 9px;
  }
}
