@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(.//assets/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

