.body {
    position: relative;
}

.toasts-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 100%;
    max-width: 350px;
    list-style: none;
}

.toast-element {
    text-align: left;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.info {
    color: black;
}

.success {
    color: green;
}

.error {
    color: red;
}